.ac_header {
  margin-top: 50px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  font-size: 18px;
  color: #283039;
  height: 44px;
  line-height: 24px;
  position: relative;
}

.ac_header span {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #283039;
}

.ac_section {
  height: 40px;
  background: #F6F8FC;
  font-size: 14px;
  color: #BEC1C9;
  line-height: 40px;
}

.ac_font_12 {
  font-size: 12px;
}

.ac_cell {
  height: 52px;
  line-height: 52px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #717580;
  position: relative;
}

.ac_icon {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid #E0E6ED;
}

.ac_icon img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ac_first_col1 {
  -ms-flex: 0 0 11.000000%;
      flex: 0 0 11.000000%;
  max-width: 11.000000%;
}

.ac_first_col2 {
  -ms-flex: 0 0 8.500000%;
      flex: 0 0 8.500000%;
  max-width: 0 0 8.500000%;
}

.ac_first_col3 {
  -ms-flex: 0 0 19.833333%;
      flex: 0 0 19.833333%;
  max-width: 0 0 19.833333%;
}

.ac_first_col4 {
  -ms-flex: 0 0 10.500000%;
      flex: 0 0 10.500000%;
  max-width: 0 0 10.500000%;
}

.ac_first_col5 {
  -ms-flex: 0 0 12.000000%;
      flex: 0 0 12.000000%;
  max-width: 0 0 12.000000%;
}

.ac_first_col6 {
  -ms-flex: 0 0 13.666667%;
      flex: 0 0 13.666667%;
  max-width: 0 0 13.666667%;
}

.ac_first_col7 {
  -ms-flex: 0 0 10.166667%;
      flex: 0 0 10.166667%;
  max-width: 0 0 10.166667%;
}

.ac_space_120 {
  -ms-flex: 0 0 10.000000%;
      flex: 0 0 10.000000%;
  max-width: 0 0 10.000000%;
}

.ac_rule {
  font-size: 14px;
  color: #717580;
  line-height: 20px;
}

.ac_margin_20 {
  margin-top: 20px;
}

.ac_info_title {
  line-height: 60px;
  height: 60px;
  font-size: 14px;
  color: #717580;
}

.ac_second_col1 {
  -ms-flex: 0 0 70.666667%;
      flex: 0 0 70.666667%;
  max-width: 70.666667%;
}

.ac_second_col2 {
  -ms-flex: 0 0 16.333333%;
      flex: 0 0 16.333333%;
  max-width: 0 0 16.333333%;
}

.ac_second_col3 {
  -ms-flex: 0 0 16.333333%;
      flex: 0 0 16.333333%;
  max-width: 0 0 16.333333%;
}

.ac_third_col1 {
  -ms-flex: 0 0 10.416667%;
      flex: 0 0 10.416667%;
  max-width: 10.416667%;
}

.ac_third_col2 {
  -ms-flex: 0 0 6.750000%;
      flex: 0 0 6.750000%;
  max-width: 0 0 6.750000%;
}

.ac_third_col3 {
  -ms-flex: 0 0 9.666667%;
      flex: 0 0 9.666667%;
  max-width: 0 0 9.666667%;
}

.ac_third_col4 {
  -ms-flex: 0 0 11.000000%;
      flex: 0 0 11.000000%;
  max-width: 0 0 11.000000%;
}

.ac_third_col5 {
  -ms-flex: 0 0 15.083333%;
      flex: 0 0 15.083333%;
  max-width: 0 0 15.083333%;
}

.ac_third_col6 {
  -ms-flex: 0 0 7.833333%;
      flex: 0 0 7.833333%;
  max-width: 0 0 7.833333%;
}

.ac_third_col7 {
  -ms-flex: 0 0 7.666667%;
      flex: 0 0 7.666667%;
  max-width: 0 0 7.666667%;
}

.ac_third_col8 {
  -ms-flex: 0 0 9.000000%;
      flex: 0 0 9.000000%;
  max-width: 0 0 9.000000%;
}

.ac_third_col9 {
  -ms-flex: 0 0 14.833333%;
      flex: 0 0 14.833333%;
  max-width: 0 0 14.833333%;
}

.ac_join_search_menus {
  height: 72px;
  font-size: 12px;
  color: #717580;
}

.ac_width_180 {
  width: 180px;
}

.ac_btn {
  font-size: 14px;
  padding: 4px 9px;
}
