.rcicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}

.rcicon-check:before {
  content: "\f00c";
}
