.ris-container{
  padding: 20px 40px;
  min-width: 1000px;
}
.ris-container-content-scroll {
  /*height: 660px;*/
  /*overflow-y: scroll;*/
}
.ris-btn-view {
  background: #0074FF;
  color: white;
  box-shadow: 0 4px 6px 0 rgba(0,116,255,0.30);
  border-radius: 2px;
  text-decoration: none;
  width: 58px;
  height: 32px;
  line-height: 32px;
}
.ris-col1 {
  width: 200px;
  height: 32px;
}
.ris-col1 .ant-select-selection--single {
  height: 32px;
}
.ris-col1 .ant-select-selection__rendered {
  margin-top: 3px;
}
.ris-col1 .base-input input {
  padding-left: 0px;
}

.ris-col2 {
  width: 14px;
}
.ris-col3 {
  width: 32px;
}
.ris-col4 {
  width: 40px;
}
.ris-col5 {
  width: 10px;
}
.ris-section {
  padding-left: 30px;
  font-size: 12px;
  color: #BEC1C9;
  height: 40px;
}
.ris-section p {
  padding: 0;
}
.ris-row-col {
  min-width: 64px;
}
.ris-row-col-desc {
  min-width: 120px;
}
.ris-row {
  padding: 20px 0 20px 30px;
  font-size: 12px;
}
.ris-row div {
  padding: 0;
}
.ris-row:hover {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.05);
}

.ris-row:hover .btn-buy{
  background: #0074FF;
  color: white;
  box-shadow: 0 4px 6px 0 rgba(0,116,255,0.30);
  border-radius: 2px;
  text-decoration: none;
}

.ris-row:hover .btn-status{
  color: #283039;
}

.ris-row:hover .title{
  color: #283039;
}

.ris-row:hover .desc{
  color: #283039;
}

.btn-buy {
  color: #0074FF;
  padding: 6px 14px;
  width: 58px;
  height: 32px;
  line-height: 32px;
  margin: auto;
}

.btn-status {
  color: #717580;
}
.ris-icon {
  width: 64px;
  height: 64px;
}
.ris-icon img {
  width: 100%;
  height: 100%;
}
.title{
  font-size: 14px;
  color: #717580;
  font-weight: bold;
}
.desc{
  color: #717580;
}
.title-space {
  height: 8px;
}
.desc-space {
  height: 5px;
}
.ris-line {
  height: 1px;
  background: #ECF0F9;
}
.ris-title {
  color: #283039;
  font-size: 14px;
  margin: 20px 0;
  font-weight: bold;
}
.ris-search{
  font-size: 12px;
  color: #717580;
}
.ris-search input{
  font-size: 14px;
}
.ris-page-size{
  margin-left: 10px;
  color: #BEC1C9;
}
