.sa_bounds p {
  line-height: 26px;
}

.sa_left_content {
  width: 75px;
  margin-right: 20px;
  margin-left: 50px;
}

.sa_long_input {
  width: 310px;
  height: 26px;
}

.sa_margin_bottom {
  margin-bottom: 10px;
}

.sa_margin_top {
  margin-top: 30px;
}

.sa_scroll .ant-calendar-picker {
  width: 150px;
}

.sa_select_time label:last-child {
  margin-top: 50px;
}

.sa_select_time_wrap >span:last-child {
  margin-left: 10px;
}
